<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/insults" method="POST">
        <input type="text" placeholder="Enter an insult" name="insult">
        <input type="text" placeholder="Which play is the insult from?" name="play">
        <select name="severity" placeholder="Choose severity" name="severity">
            <option value="bananpaj">Bananpaj</option>
            <option value="grillkorv">Grillkorv</option>
            <option value="sötsursås">Sötsursås</option>
        </select>
        <button>Create the insult!</button>
    </form>
</body>
</html>