<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is your new insult!</h1>
    <p> <%= insult.insult %>  </p>
    <p> From the play: <%= insult.play %> </p>
    <p> And with the severity of: <%= insult.severity %> </p>
    <button>Get a random insult!</button>
</body>
</html>